argparse==1.4.0
bcrypt==3.2.2
cryptography==36.0.1
Flask==2.1.2
flask-restx==0.5.1
flask-executor==0.9.4
flake8_html==0.4.2
kafka_python==2.0.2
pyjwt==2.4.0
pymongo==4.1.1
python-dotenv==0.19.0
requests==2.26.0
waitress==2.0.0
werkzeug==2.1.1
uWSGI==2.0.20
xmltodict==0.12.0
black==22.3.0
flake8==4.0.1
isort==5.10.1
pylint==2.13.8
python-dateutil~=2.8.2
